:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #188ce8;
  --button-color-portfolio: #f5f4fa;
  --border-cards: #eeeeee;
  --border-cards-clients: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input {
  margin-right: 7px;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  position: relative;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section_mob {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  margin-left: 0;
  display: inline-block;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

.header__logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 0;
}

.logo__span {
  color: var(--accent-color);
}

.logo__span_white {
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--primary-white-color);
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu__nav {
    margin-bottom: 302px;
  }
  .mobile-menu__item {
    margin-left: 28px;
  }
  .mobile-menu__item:not(:last-child) {
    display: block;
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-social-list {
    display: inline-flex;
    margin-left: 28px;
  }
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-social-list__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu__link:hover,
  .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-contacts {
    margin-left: 28px;
  }
  .mobile-contacts__cont {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 64px;
  }
  .mobile-contacts__cont.mob {
    display: inline-block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.button {
  cursor: pointer;
  border-style: none;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__title_mob {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.contacts-head__cont {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts-head__cont:hover,
.contacts-head__cont:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.contacts-nav__cont {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts-nav__cont:hover, .contacts-nav__cont:focus {
  color: var(--accent-color);
}

.team .social-list {
  display: flex;
  justify-content: space-around;
  padding: 16px 122px 24px 122px;
}

.team .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team .social-list__link {
  fill: var(--border-cards-clients);
  transition: background-color 250ms var(--timing-function);
}

.team .social-list__link:hover, .team .social-list__link:focus {
  background-color: var(--accent-color);
}

.team .social-list__link:hover .social-list__icon {
  transition: fill 250ms var(--timing-function);
}

.team .social-list__link:hover .social-list__icon,
.team .social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: var(--accent-color);
}

.footer-list__item:not(:first-child) {
  margin-left: 10px;
}

.footer-list__icon {
  fill: var(--primary-white-color);
}

.team .description {
  padding-top: 30px;
  background-color: var(--primary-white-color);
}

.projects__description {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--border-cards);
  border-top: 0;
}

.projects__description_big {
  padding: 20px 24px 56px 24px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 7;
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: fill 250ms var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.contact-form {
  width: 370px;
  height: auto;
  margin: 0 auto;
}

.contact-form > .form-text:first-child {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.contact-form .label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .contact-form {
    width: 448px;
  }
}

.contact-form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  outline: none;
  width: 370px;
  height: 40px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.contact-form-input:hover, .contact-form-input:focus {
  border: 1px solid var(--accent-color);
}

.contact-form-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contact-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: #008000;
}

.contact-form-input:focus:required:not(:placeholder-shown):invalid {
  border-color: #ff0000;
}

@media screen and (min-width: 1200px) {
  .contact-form {
    width: 448px;
  }
  .contact-form-input {
    width: 448px;
    height: 40px;
  }
}

.contact-form-message {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border 250ms var(--timing-function);
}

.contact-form-message:hover, .contact-form-message:focus {
  border: 1px solid var(--accent-color);
}

.contact-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.checkbox-icon-check {
  position: absolute;
  top: -2px;
  left: -2px;
}

.form-checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.67;
  color: var(--primary-text-color);
}

.checkbox-link {
  outline: none;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-link:focus {
  outline: 1px solid var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contacts-form-btn {
  outline: none;
  position: absolute;
  left: 125px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  padding: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

.contacts-form-btnn:hover, .contacts-form-btn:focus {
  background-color: var(--button-color);
}

@media screen and (min-width: 1200px) {
  .contacts-form-btn {
    left: 165px;
  }
}

/* form icon */
.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.contact-form-input:hover ~ .form-icon,
.contact-form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-cards);
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.header__mobile-menu-icon:hover, .header__mobile-menu-icon:focus {
  fill: var(--button-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  transition: fill 250ms var(--timing-function);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--button-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.site-nav.list,
.contacts-head {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }
  .site-nav.list,
  .contacts-head {
    display: block;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  .site-nav {
    display: flex;
  }
  .site-nav__item:first-child {
    margin-left: 88px;
  }
  .site-nav__item:not(:first-child) {
    margin-left: 50px;
  }
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link.current {
    position: relative;
    color: var(--accent-color);
  }
  .site-nav__link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .site-nav .header__logo {
    margin-top: 24px;
    margin-bottom: 25px;
  }
  .site-nav.list {
    display: flex;
  }
  .contacts-head__cont {
    display: inline-flex;
  }
  .contacts-head__icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts-head__icon_tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .site-nav__item:first-child {
    margin-left: 93px;
  }
  .contacts-head__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts-head__icon_tel {
    width: 10px;
    height: 16px;
  }
  .contacts-head__cont {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts-head__item:not(:first-child) {
    margin-left: 30px;
  }
  .contacts-head {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
}

.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero {
  text-align: center;
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/header_img.jpg);
}

.hero__text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-color);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero/header_img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/header_img.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/hero/header_img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pc/hero/header_img.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/pc/hero/header_img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero {
    height: 600px;
  }
  .hero__text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.advantages__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--button-color-portfolio);
  margin-bottom: 30px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 354px;
  }
  .advantages__thumb {
    display: flex;
    width: 354px;
    height: 120px;
    background-color: var(--button-color-portfolio);
    margin-bottom: 30px;
  }
  .advantages__title {
    text-align: left;
  }
  .advantages__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__thumb {
    width: 270px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .our-works {
    display: none;
  }
}

.our-works {
  padding-top: 0;
}

.works {
  display: flex;
}

.works__item {
  position: relative;
}

.works__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.works__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.works__item:not(:first-child) {
  margin-left: 30px;
}

.team {
  background-color: var(--button-color-portfolio);
}

.team__description {
  padding-top: 30px;
  background-color: var(--primary-white-color);
}

.team__title, .team__text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__text {
  color: var(--primary-text-color);
  font-weight: normal;
}

.team__title {
  margin-bottom: 10px;
}

.team__item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    width: 354px;
  }
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team .social-list {
    display: flex;
    justify-content: space-around;
    padding: 16px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
  .team__item {
    width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team .section__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .team .social-list {
    padding: 16px 32px 30px 32px;
  }
}

.section.clients {
  padding-top: 71px;
  padding-bottom: 49px;
}

.company {
  display: flex;
  flex-wrap: wrap;
}

.company__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--border-cards-clients);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.company__link:hover, .company__link:focus {
  border: 1px solid var(--accent-color);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {
  fill: var(--accent-color);
}

.company__icon {
  margin: 16px 52px;
  fill: var(--border-cards-clients);
  transition: fill 250ms var(--timing-function);
}

.company__item {
  margin-bottom: 30px;
}

.company__item:nth-child(2n + 1) {
  margin-right: 30px;
}

@media screen and (max-width: 479px) {
  .company__item {
    width: calc((100% - 30px) / 2);
  }
  .company__icon {
    margin: 0;
  }
  .company__link {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .company__link {
    width: 226px;
  }
  .company__icon {
    margin: 16px 60px;
  }
  .company__item:nth-child(2) {
    margin-right: 30px;
  }
  .company__item {
    margin-right: 30px;
  }
  .company__item:nth-child(3), .company__item:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__title_mob {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .company__link {
    width: 170px;
  }
  .company__icon {
    margin: 16px 32px;
  }
  .company__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  background: #2f303a;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.contacts-nav {
  margin-top: 20px;
  margin-bottom: 60px;
}

.contacts-nav__map {
  margin-bottom: 9px;
}

.contacts-nav__map-google {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-nav__cont.mail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.thumb {
  margin-bottom: 60px;
}

/* FOOTER Form */
.subscription__title {
  margin-bottom: 35px;
}

.subscription__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  position: relative;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

.subscription__button:hover, .subscription__button:focus {
  background-color: var(--button-color);
}

.subscription__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet {
    display: flex;
    justify-content: baseline;
    justify-content: center;
  }
  .thumb {
    margin-left: 165px;
    margin-bottom: 102px;
  }
  .subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-decktop {
    display: flex;
  }
  .tablet {
    display: flex;
    text-align: start;
  }
  .thumb {
    margin-left: 70px;
    margin-right: 93px;
  }
  .subscription__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .footer-title {
    text-align: start;
  }
}

.filter {
  padding-top: 60px;
}

.filter-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-nav__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--button-color-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-nav__button:hover, .filter-nav__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-nav__item:not(:first-child) {
  margin-left: 8px;
  margin-bottom: 15px;
}

.filter-nav__item:nth-child(4) {
  margin-left: 0;
  margin-bottom: 40px;
}

.filter-nav__item:nth-child(5) {
  margin-bottom: 40px;
}

.projects__item {
  width: 450px;
  transition: box-shadow 250ms var(--timing-function);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__item:not(:last-child) {
  margin-bottom: 30px;
}

.projects__link {
  text-decoration: none;
}

.projects__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 101%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
}

.projects__link:hover .backdrop,
.projects__link:focus .backdrop {
  transform: translateY(0);
}

.backdrop__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .filter-nav {
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .projects__item {
    width: 354px;
  }
  .projects__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__description_big {
    padding: 20px 24px 20px 24px;
  }
  .filter {
    padding-top: 94px;
  }
  .filter-nav {
    margin-bottom: 50px;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  .projects__item {
    margin-right: 30px;
    width: 370px;
  }
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */