:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #188ce8;
  --button-color-portfolio: #f5f4fa;
  --border-cards: #eeeeee;
  --border-cards-clients: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input {
  margin-right: 7px;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  margin-left: 0;
  display: inline-block;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  margin-top: 24px;
  margin-bottom: 25px;
}

.footer__logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.logo__span {
  color: var(--accent-color);
}

.logo__span_white {
  color: var(--primary-white-color);
}

.button {
  cursor: pointer;
  border-style: none;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.contacts-head__item:not(:first-child) {
  margin-left: 30px;
}

.contacts-head__cont {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts-head__cont:hover,
.contacts-head__cont:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.contacts-head {
  display: flex;
  margin-left: auto;
}

.contacts-nav__cont {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.contacts-nav__cont:hover, .contacts-nav__cont:focus {
  color: var(--accent-color);
}

.team .social-list {
  display: flex;
  justify-content: space-around;
  padding: 16px 32px 30px 32px;
}

.team .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team .social-list__link {
  fill: var(--border-cards-clients);
  transition: background-color 250ms var(--timing-function);
}

.team .social-list__link:hover, .team .social-list__link:focus {
  background-color: var(--accent-color);
}

.team .social-list__link:hover .social-list__icon {
  transition: fill 250ms var(--timing-function);
}

.team .social-list__link:hover .social-list__icon,
.team .social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.footer-list {
  display: flex;
}

.footer-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: var(--accent-color);
}

.footer-list__item:not(:first-child) {
  margin-left: 10px;
}

.footer-list__icon {
  fill: var(--primary-white-color);
}

.team .description {
  padding-top: 30px;
  background-color: var(--primary-white-color);
}

.projects__description {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--border-cards);
  border-top: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: fill 250ms var(--timing-function);
}

.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.contact-form {
  width: 448px;
  height: auto;
  margin: 0 auto;
}

.contact-form > .form-text:first-child {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.contact-form .label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  outline: none;
  width: 448px;
  height: 40px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.contact-form-input:hover, .contact-form-input:focus {
  border: 1px solid var(--accent-color);
}

.contact-form-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contact-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: #008000;
}

.contact-form-input:focus:required:not(:placeholder-shown):invalid {
  border-color: #ff0000;
}

.contact-form-message {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border 250ms var(--timing-function);
}

.contact-form-message:hover, .contact-form-message:focus {
  border: 1px solid var(--accent-color);
}

.contact-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.checkbox-icon-check {
  position: absolute;
  top: -2px;
  left: -2px;
}

.form-checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.checkbox-link {
  outline: none;
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-link:focus {
  outline: 1px solid var(--accent-color);
}

.contacts-form-btn {
  outline: none;
  position: absolute;
  left: 165px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  padding: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}

.contacts-form-btnn:hover, .contacts-form-btn:focus {
  background-color: var(--button-color);
}

/* form icon */
.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms var(--timing-function);
}

.contact-form-input:hover ~ .form-icon,
.contact-form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-cards);
}

.contacts-head__cont {
  display: inline-flex;
}

.contacts-head__icon {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item:first-child {
  margin-left: 93px;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
}

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /* width: 200px;
  height: 50px; */
  padding: 10px 32px;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantages {
  display: flex;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:first-child) {
  margin-left: 30px;
}

.advantages__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--button-color-portfolio);
  margin-bottom: 30px;
}

.advantages__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.value.section {
  padding-bottom: 0;
}

.works {
  display: flex;
}

.works__item {
  position: relative;
}

.works__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.works__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.works__item:not(:first-child) {
  margin-left: 30px;
}

.team {
  display: flex;
  background-color: var(--button-color-portfolio);
}

.team__description {
  padding-top: 30px;
  background-color: var(--primary-white-color);
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title, .team__text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
}

.team__text {
  color: var(--primary-text-color);
  font-weight: normal;
}

.team__item:not(:first-child) {
  margin-left: 30px;
}

.company {
  display: flex;
}

.company__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-cards-clients);
  border-radius: 4px;
  margin-bottom: 0;
  transition: border 250ms var(--timing-function);
}

.company__link:hover, .company__link:focus {
  border: 1px solid var(--accent-color);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {
  fill: var(--accent-color);
}

.company__item:not(:first-child) {
  margin-left: 30px;
}

.company__icon {
  fill: var(--border-cards-clients);
  transition: fill 250ms var(--timing-function);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.contacts-nav__cont {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.thumb {
  margin-left: 70px;
}

.footer-title {
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-nav__map {
  margin-bottom: 9px;
}

.contacts-nav__map-google {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-nav__cont.mail {
  display: inline-block;
  margin-bottom: 9px;
}

/* FOOTER Form */
.subscription {
  margin-left: 93px;
}

.subscription__thumb {
  display: flex;
}

.subscription__title {
  margin-bottom: 35px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--primary-white-color);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

.subscription__button:hover, .subscription__button:focus {
  background-color: var(--button-color);
}

.subscription__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.filter {
  padding-top: 94px;
}

.filter-nav {
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-nav__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--button-color-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-nav__button:hover, .filter-nav__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-nav__item:not(:first-child) {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--timing-function);
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__link {
  text-decoration: none;
}

.projects__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
}

.projects__link:hover .backdrop,
.projects__link:focus .backdrop {
  transform: translateY(0);
}

.backdrop__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-white-color);
}
/*# sourceMappingURL=main.css.map */