// UTILS
@import './utils/variables';
@import './utils/visually-hidden';

// BASE
@import './base/common';
@import './base/section';
@import './base/container';

// COMPONENTS
@import './components/logo';
@import './components/button';
@import './components/section-title';
@import './components/contacts';
@import './components/social-list';
@import './components/description';
@import './components/backdrop';
@import './components/modal-window';
@import './components/form';

// LAYOUT
@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/works';
@import './layout/our-team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
