.header {
  border-bottom: 1px solid var(--border-cards);

  &__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__mobile-menu-icon {
    width: 40px;
    height: 40px;
    fill: var(--title-text-color);

    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--button-color);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile-menu .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  // padding-left: 25px;

  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu {
  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    background: transparent;
    border: none;
    padding: 0;

    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--button-color);
    }
  }

  &__close-icon {
    width: 40px;
    height: 40px;
  }
}

.site-nav.list,
.contacts-head {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    &__mobile-menu-btn {
      display: none;
    }
  }

  .site-nav.list,
  .contacts-head {
    display: block;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .site-nav {
    display: flex;

    &__item:first-child {
      margin-left: 88px;
    }

    &__item:not(:first-child) {
      margin-left: 50px;
    }

    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: #212121;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color 250ms var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__link.current {
      position: relative;
      color: var(--accent-color);

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
      }
    }

    .header__logo {
      margin-top: 24px;
      margin-bottom: 25px;
    }
  }

  .site-nav.list {
    display: flex;
  }

  .contacts-head {
    // margin-left: 84px;

    &__cont {
      display: inline-flex;
    }

    &__icon {
      width: 14px;
      height: 10px;
      margin-right: 8px;
      fill: currentColor;
    }

    &__icon_tel {
      width: 10px;
      height: 14px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }

  .site-nav {
    &__item:first-child {
      margin-left: 93px;
    }
  }

  .contacts-head {
    // margin-left: auto;

    &__icon {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill: currentColor;
    }

    &__icon_tel {
      width: 10px;
      height: 16px;
    }
  }

  .contacts-head__cont {
    font-size: 14px;
    line-height: 1.14;
  }

  .contacts-head__item:not(:first-child) {
    margin-left: 30px;
  }

  .contacts-head {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
}
