.team .description {
  padding-top: 30px;
  background-color: var(--primary-white-color);
}

.projects__description {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--border-cards);
  border-top: 0;
}
