.contact-form {
  width: 448px;
  height: auto;
  margin: 0 auto;

  & > .form-text:first-child {
    margin-top: 40px;
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--title-text-color);
  }

  .label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
  }
}

.contact-form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.contact-form-input {
  outline: none;
  width: 448px;
  height: 40px;
  padding: 0 0 0 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }

  &:required:focus:not(:placeholder-shown):valid {
    border-color: #008000;
  }

  &:focus:required:not(:placeholder-shown):invalid {
    border-color: #ff0000;
  }
}

.contact-form-message {
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  transition: border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;

  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.checkbox-icon-check {
  position: absolute;
  top: -2px;
  left: -2px;
}

.form-checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-label {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

.checkbox-link {
  outline: none;
  font-size: 14px;
  line-height: 1.71;

  text-decoration-line: underline;

  color: var(--accent-color);

  &:focus {
    outline: 1px solid var(--accent-color);
  }
}

.contacts-form-btn {
  outline: none;
  position: absolute;
  left: 165px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  padding: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);

  &n:hover,
  &:focus {
    background-color: var(--button-color);
  }
}

/* form icon */
.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  transition: fill 250ms var(--timing-function);

  .contact-form-input:hover ~ &,
  .contact-form-input:focus ~ & {
    fill: var(--accent-color);
  }
}
