.team {
  .social-list {
    display: flex;
    justify-content: space-around;
    padding: 16px 32px 30px 32px;
  }

  .social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .social-list__link {
    fill: var(--border-cards-clients);

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
    &:hover .social-list__icon {
      transition: fill 250ms var(--timing-function);
    }

    &:hover .social-list__icon,
    &:focus .social-list__icon {
      fill: var(--primary-white-color);
    }
  }
}

.footer-list {
  display: flex;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__icon {
    fill: var(--primary-white-color);
  }
}
